---
layout: default
---
<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted"><img src="images/ibcos.png" width="45" height="45" class="d-inline-block align-middle" alt=""> Product Framework</h3>
  </div>

  <div class="container">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      
      {% for stage in site.data.stages %}
      <div class="card">
        <div class="card-header" role="tab" id="{{ stage.name | downcase | replace: ' ', '-' }}-header">
          <h5 class="mb-0">
            <a {% if forloop.first == false %}class="collapsed"{% endif %} data-toggle="collapse" data-parent="#accordion" href="#{{ stage.name | downcase | replace: ' ', '-' }}" aria-expanded="{% if forloop.first == true %}true{% else %}false{% endif %}" aria-controls="{{ stage.name | downcase | replace: ' ', '-' }}">
              {{ stage.name }}
            </a>
          </h5>
        </div>
    
        <div id="{{ stage.name | downcase | replace: ' ', '-' }}" class="collapse {% if forloop.first == true %}show{% endif %}" role="tabpanel" aria-labelledby="{{ stage.name | downcase | replace: ' ', '-' }}-header">
          <div class="card-block">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>


  <footer class="footer">
    <p>Designed with <i class="fa fa-heart" aria-hidden="true"></i> in Poole - &copy; Ibcos 2017</p>
  </footer>
</div>